<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{/components/header :: head-block}"></th:block>
<body>
<div class="container">
    <th:block th:insert="~{/components/header :: header}"></th:block>
    <div class="col-sm-12">
        <div class="row mb-3">
            <a th:href="@{/addEmployee}" class="btn btn btn-secondary mr-2"><i class="fa fa-plus"></i>&nbsp;Add Employee</a>
            <a th:href="@{/departments}" class="btn btn btn-secondary"><i class="fa fa-users"></i>&nbsp;Manage
                Departments</a>
        </div>
    </div>
    <div class="d-flex justify-content-center p-0">
        <div class="card w-100 shadow-sm">
            <div class="card-header">
                <strong class="card-title"><i class="fa fa-user mr-1"></i>Employees</strong>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead th:with="currentSortBy=${#request.getParameter('sortBy') ?: 'name'}, currentSortDir=${#request.getParameter('direction') ?: 'asc'}">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name <i
                                th:class="${#strings.equals(currentSortBy, 'name') ? (#strings.equals(currentSortDir, 'asc') ? 'fa fa-sort-asc' : 'fa fa-sort-desc') : 'fa fa-unsorted'}"
                                style="cursor: pointer;"
                                th:onclick="sortBy('name', [[${currentSortBy}]], [[${currentSortDir}]])"></i></th>
                        <th scope="col">E-mail <i
                                th:class="${#strings.equals(currentSortBy, 'email') ? #strings.equals(currentSortDir, 'asc') ? 'fa fa-sort-asc' : 'fa fa-sort-desc' : 'fa fa-unsorted'}"
                                style="cursor: pointer;"
                                th:onclick="sortBy('email', [[${currentSortBy}]], [[${currentSortDir}]])"></i></th>
                        <th scope="col">Department <i
                                th:class="${#strings.equals(currentSortBy, 'department') ? #strings.equals(currentSortDir, 'asc') ? 'fa fa-sort-asc' : 'fa fa-sort-desc' : 'fa fa-unsorted'}"
                                style="cursor: pointer;"
                                th:onclick="sortBy('department', [[${currentSortBy}]], [[${currentSortDir}]])"></i></th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.isEmpty(employees)}">
                        <td class="text-center" colspan="5">No employees</td>
                    </tr>
                    <tr th:each="employee, status : ${employees}">
                        <th scope="row" th:text="${status.count + ((currentPage - 1) * pageSize)}"></th>
                        <td th:text="${employee.name}"></td>
                        <td><a th:href="'mailto:' + ${employee.email}" class="text-dark"><span
                                th:text="${employee.email}"></span></a></td>
                        <td th:switch="${employee.department == null}">
                            <i th:case="true" class="fa fa-ban"></i>
                            <span th:case="false" th:text="${employee.department.name}"></span>
                        </td>
                        <td class="w-25">
                            <div class="d-flex flex-md-row flex-sm-column justify-content-center text-white">
                                <div>
                                    <a th:href="@{/updateEmployee(id=${employee.id})}"
                                       class="btn btn-sm btn-info"><i class="fa fa-edit"></i>&nbsp;Update</a>
                                </div>
                                <div class="gap"></div>
                                <div>
                                    <button th:onclick="confirmDelete({id: [[${employee.id}]], name: [[${employee.name}]]})"
                                            class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>&nbsp;Delete
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer w-100 py-2 text-right" th:insert="~{/components/pagination :: pagination}"></div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/actions.js}"></script>
</body>
</html>