<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{/components/header :: head-block}"></th:block>
<body>
<div class="container">
    <th:block th:insert="~{/components/header :: header}"></th:block>
    <div class="col-sm-12">
        <div class="row mb-3">
            <a th:href="@{/addDepartment}" class="btn btn-secondary mr-2"><i class="fa fa-plus"></i>&nbsp;Add Department</a>
            <a th:href="@{/employees}" class="btn btn-secondary"><i class="fa fa-user"></i>&nbsp;Manage Employees</a>
        </div>
    </div>
    <div class="d-flex justify-content-center p-0">
        <div class="card w-100 shadow-sm">
            <div class="card-header">
                <strong class="card-title"><i class="fa fa-users mr-1"></i>Departments</strong>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead th:with="currentSortBy=${#request.getParameter('sortBy') ?: 'name'}, currentSortDir=${#request.getParameter('direction') ?: 'asc'}">
                    <tr>
                        <th scope="col" class="w-auto">#</th>
                        <th scope="col" class="w-50">Name <i
                                th:class="${#strings.equals(currentSortBy, 'name') ? (#strings.equals(currentSortDir, 'asc') ? 'fa fa-sort-asc' : 'fa fa-sort-desc') : 'fa fa-unsorted'}"
                                style="cursor: pointer;"
                                th:onclick="sortBy('name', [[${currentSortBy}]], [[${currentSortDir}]])"></i></th>
                        <th scope="col" class="w-25">Total <i
                                th:class="${#strings.equals(currentSortBy, 'total') ? (#strings.equals(currentSortDir, 'asc') ? 'fa fa-sort-asc' : 'fa fa-sort-desc') : 'fa fa-unsorted'}"
                                style="cursor: pointer;"
                                th:onclick="sortBy('total', [[${currentSortBy}]], [[${currentSortDir}]])"></i></th>
                        <th scope="col" class="w-auto">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.isEmpty(departments)}">
                        <td class="text-center" colspan="4">No departments</td>
                    </tr>
                    <tr th:each="department, status : ${departments}">
                        <th scope="row" th:text="${status.count + ((currentPage - 1) * pageSize)}"></th>
                        <td th:text="${department.name}"></td>
                        <td th:text="${department.employees.size()}"></td>
                        <td>
                            <div class="d-flex flex-md-row flex-sm-column justify-content-center text-white">
                                <div>
                                    <a th:href="@{/updateDepartment(id=${department.id})}"
                                       class="btn btn-sm btn-info"><i class="fa fa-edit"></i>&nbsp;Update</a>
                                </div>
                                <div class="gap"></div>
                                <div>
                                    <button th:onclick="confirmDelete({id: [[${department.id}]], name: [[${department.name}]]})"
                                            class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>&nbsp;Delete
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer w-100 py-2 text-right" th:insert="~{/components/pagination :: pagination}"></div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/actions.js}"></script>
</body>
</html>